<footer>
    <div class="one">
        <img src="img/logo-baru.png" alt="">

    </div>
    <div class="two">
        <div class="developer">
            <h1>Ngoding Developer</h1>
            <ul>
                <li>Stefanus Anthony (535220146)</li>
                <li>Valeroy Putra (535220151)</li>
                <li>Hans Nathanael (535220155)</li>
            </ul>
        </div>
        <div class="social-media">
            <h1>Social Media</h1>
            <ul class="list-unstyled">
                <li>
                    <a href="https://www.instagram.com/dpmftiuntar/">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/dpmfti.untar">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-line"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="three">
        <div class="alamat">
            <h1>Alamat</h1>
            <p>Jl. Letjen S. Parman No.1, RT.6/RW.16, Tomang, Kec. Grogol petamburan, Kota
                Jakarta Barat, Daerah Khusus Ibukota Jakarta 11440</p>
        </div>
    </div>
</footer>