<header class="header">
    <div class="container">
        <div class="header-main">
            <div class="logo">
                <a href="#">
                    <div class="logo-destinasi">
                        <img src="img/logo-baru.png" alt="logo" width="50px"></div>
                    </a>
                </div>
                <div class="open-nav-menu">
                    <span></span>
                </div>
                <div class="menu-overlay"></div>
                <!-- nav start -->
                <nav class="nav-menu">
                    <div class="close-nav-menu">
                        <i class='bx bx-x'></i>
                    </div>
                    <ul class="menu">
                        <li class="menu-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="menu-item">
                            <a href="/tiket">Ticket</a>
                        </li>
                        <li class="menu-item">
                            <a href="/#destinasi">Destination</a>
                        </li>
                        <li class="menu-item">
                            <a href="/#gallery">Transportation</a>
                        </li>
                        <li class="menu-item icon-cart">
                            <img src="img/Cart.png" alt="">
                                <span>0</span>
                            </li>
                        </ul>
                    </nav>
                    <!-- nav end -->
                </div>
            </div>
        </header>