<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('layouts/header.ejs') %>
            <link rel="stylesheet" href="index.css">
            <title>Travel with Us</title>
        </head>
        <body>
            <div class="containers">
                <%- include('layouts/nav.ejs') %>
                    <div class="carouselcontainer">
                        <div class="carouselcontent">

                            <video
                                autoplay="autoplay"
                                loop="loop"
                                muted="muted"
                                plays-inline="plays-inline"
                                class="background-vid">
                                <source src="img/video-background.mp4" type="video/mp4">
                            </video>

                            <h1>W E L C O M E</h1>
                            <a href="#destinasi">
                                Explore</a>
                            <a href="tiket.html">Buy Ticket</a>
                        </div>
                    </div>

                    <!-- pertanyaan Cepat -->
                    <div class="destinasi">
                        <div id="destinasi"></div>
                        <div class="judul-destinasi">
                            <h1>Popular Destination</h1>
                        </div>
                        <ul>
                            <li>
                                <img src="img/bali.jpg" alt="">
                                <div class="destinasi-content">
                                    <h1>Bali, Indonesia</h1>
                                    <p>
                                        Bali adalah sebuah provinsi di Indonesia yang terletak di Kepulauan Nusa
                                        Tenggara. Pulau ini terkenal dengan keindahan alamnya yang luar biasa, seperti
                                        pantai berpasir putih dan gunung berapi yang menjulang tinggi.
                                    </p>
                                    <button onclick="togglePopup()">Selengkapnya</button>
                                </div>
                            </li>
                            <li>
                                <img src="img/london,england.jpg" alt="">
                                <div class="destinasi-content">
                                    <h1>London, England</h1>
                                    <p>
                                        London merupakan kota yang paling besar di Inggris Raya. Salah satu landmark
                                        yang terkenal di kota ini adalah BIG BEN yang merupakan objek wisata yang berada
                                        di sebelah utara Istana Westminster
                                    </p>
                                    <button onclick="togglePopup2()">Selengkapnya</button>
                                </div>
                            </li>
                            <li>
                                <img src="img/dubai,UAE.jpg" alt="">
                                <div class="destinasi-content">
                                    <h1>Dubai, United Arab Emirates (UAE)</h1>
                                    <p>
                                        Dubai adalah kota yang terus berkembang dan selalu menghadirkan hal-hal baru.
                                        Kota ini menjadi tujuan wisata populer bagi wisatawan dari seluruh dunia yang
                                        ingin merasakan kemewahan, modernitas, dan budaya Arab yang unik. Dubai adalah
                                        kota yang penuh dengan kejutan dan keajaiban. Jika Anda ingin merasakan
                                        pengalaman yang tak terlupakan, pastikan untuk mengunjungi Dubai di lain waktu.
                                    </p>
                                    <button onclick="togglePopup3()">Selengkapnya</button>
                                </div>
                            </li>
                            <li>
                                <img src="img/singapura1.jpg" alt="">
                                <div class="destinasi-content">
                                    <h1>Singapore</h1>
                                    <p>
                                        Singapura merupakan negara yang modern dan maju, dengan infrastruktur yang baik
                                        dan standar hidup yang tinggi. Singapura menjadi objek wisata yang menarik
                                        karena merupakan negara terbersih yang berada di Asia Tenggara.
                                    </p>
                                    <button onclick="togglePopup4()">Selengkapnya</button>
                                </div>
                            </li>
                            <li>
                                <img src="img/tokyo,japan.jpg" alt="">
                                <div class="destinasi-content">
                                    <h1>Tokyo, Japan</h1>
                                    <p>
                                        Tokyo adalah kota yang penuh dengan kontras, di mana modernitas dan tradisi
                                        berpadu dengan sempurna. Kota ini menjadi tujuan wisata populer bagi wisatawan
                                        dari seluruh dunia yang ingin merasakan budaya Jepang yang unik.
                                    </p>
                                    <button onclick="togglePopup5()">Selengkapnya</button>
                                </div>
                            </li>
                            <li>
                                <img src="img/kuala lumpur.jpg" alt="">
                                <div class="destinasi-content">
                                    <h1>Kuala Lumpur, Malaysia</h1>
                                    <p>
                                        Kuala Lumpur adalah kota yang dinamis dan modern, dengan gedung pencakar langit
                                        yang menjulang tinggi, namun juga tetap mempertahankan budaya tradisionalnya.
                                    </p>
                                    <button onclick="togglePopup6()">Selengkapnya</button>
                                </div>
                            </li>
                            <li>
                                <img src="img/newyorkgelap.jpg" alt="">
                                <div class="destinasi-content">
                                    <h1>New York, United States</h1>
                                    <p>
                                        New York adalah kota yang dijuluki "The City That Never Sleeps". Diamna setiap
                                        kota di huni dengan gedung-gedung yang menjulang tinggi. New York juga memiliki
                                        landmark yang sangat terkenal yaitu Patung Liberty.
                                    </p>
                                    <button onclick="togglePopup7()">Selengkapnya</button>
                                </div>
                            </li>
                            <li>
                                <img src="img/madrid.jpg" alt="">
                                <div class="destinasi-content">
                                    <h1>Madrid, Spanyol</h1>
                                    <p>
                                        Madrid adalah ibu kota Spanyol, terletak di bagian tengah negara itu. Kota ini
                                        merupakan pusat politik, budaya, dan ekonomi yang penting. Madrid memiliki
                                        banyak landmark terkenal, termasuk Palacio Real (Istana Kerajaan), Plaza Mayor
                                        (Lapangan Utama), dan Museo del Prado (Museum Prado).
                                    </p>
                                    <button onclick="togglePopup8()">Selengkapnya</button>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="popup" id="popup-destination1">
                        <div class="overlay"></div>
                        <div class="content">
                            <div class="close-btn" onclick="togglePopup()">&times;</div>
                            <div class="popup-destinasi">
                                <div class="destinasi-hotel">
                                    <div class="gambar">
                                        <img src="img/bali.jpg" alt="">
                                    </div>
                                    <div class="penjelasan">
                                        <h2>Bali, Indonesia
                                        </h2>
                                        <p>
                                            Bali adalah sebuah provinsi di Indonesia yang terletak di Kepulauan Nusa
                                            Tenggara. Pulau ini terkenal dengan keindahan alamnya yang luar biasa, seperti
                                            pantai berpasir putih dan gunung berapi yang menjulang tinggi.
                                        </p>
                                    </div>
                                </div>
                                <div class="keuntungan">
                                    <div class="fasilitas">
                                        <h5>Fasilitas</h5>
                                        <ul class="list-unstyled">
                                            <li><img src="img/icon/air-conditioner.png" alt="ac">
                                                AC</li>
                                            <li><img src="img/icon/restaurant.png" alt="restoran">
                                                Restoran</li>
                                            <li><img src="img/icon/swimming-pool.png" alt="kolam_renang">
                                                Kolam Renang</li>
                                            <li><img src="img/icon/24-hours-support.png" alt="24Hours">
                                                Resepsionis 24 Jam</li>
                                            <li><img src="img/icon/parking-area.png" alt="Parkir">
                                                Parkir</li>
                                            <li><img src="img/icon/wifi.png" alt="Wifi">
                                                Wifi</li>
                                            <li><img src="img/icon/elevator.png" alt="LIft">
                                                Elevator</li>
                                        </ul>
                                    </div>
                                    <div class="tentang">
                                        <div class="hotel">
                                            <h5>MU De La Hotel</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, officiis ab
                                                minima aliquam at pariatur, animi, non in molestias a ut. Quidem incidunt
                                                necessitatibus</p>
                                            <br>
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut aspernatur
                                                veniam cupiditate fugiat ullam quae aperiam, nam laborum ipsam non. Corporis
                                                molestias ratione, dicta sed expedita cum porro maxime voluptates!</p>
                                        </div>
                                        <div class="akomodasi">
                                            <h5>Akomodasi</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quos dicta
                                                officiis provident exercitationem, minus modi odio inventore tenetur mollitia
                                                quia error molestiae? Ipsa amet laborum aut minus excepturi quos.</p>
                                        </div>
                                    </div>
                                    <div class="lokasi">
                                        <h5>Lokasi Strategis</h5>
                                        <ul class="kolom1 list-unstyled">
                                            <li>
                                                <i class="bi bi-bag-fill"></i>
                                                Pusat Pembelanjaan</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Gare du Nord</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Stadiun Louis-Philippe</li>
                                        </ul>
                                        <ul class="kolom2 list-unstyled">
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Pont d'Arcole</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Lavender MRT Statiun</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Marina Bay Sands Casino</li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="popup" id="popup-destination2">
                        <div class="overlay"></div>
                        <div class="content">
                            <div class="close-btn" onclick="togglePopup2()">&times;</div>
                            <div class="popup-destinasi">
                                <div class="destinasi-hotel">
                                    <div class="gambar">
                                        <img src="img/london,england.jpg" alt="">
                                    </div>
                                    <div class="penjelasan">
                                        <h2>London, England</h2>
                                        <p>
                                            London merupakan kota yang paling besar di Inggris Raya. Salah satu landmark
                                            yang terkenal di kota ini adalah BIG BEN yang merupakan objek wisata yang berada
                                            di sebelah utara Istana Westminster
                                        </p>
                                    </div>
                                </div>
                                <div class="keuntungan">
                                    <div class="fasilitas">
                                        <h5>Fasilitas</h5>
                                        <ul class="list-unstyled">
                                            <li><img src="img/icon/air-conditioner.png" alt="ac">
                                                AC</li>
                                            <li><img src="img/icon/restaurant.png" alt="restoran">
                                                Restoran</li>
                                            <li><img src="img/icon/swimming-pool.png" alt="kolam_renang">
                                                Kolam Renang</li>
                                            <li><img src="img/icon/24-hours-support.png" alt="24Hours">
                                                Resepsionis 24 Jam</li>
                                            <li><img src="img/icon/parking-area.png" alt="Parkir">
                                                Parkir</li>
                                            <li><img src="img/icon/wifi.png" alt="Wifi">
                                                Wifi</li>
                                            <li><img src="img/icon/elevator.png" alt="LIft">
                                                Elevator</li>
                                        </ul>
                                    </div>
                                    <div class="tentang">
                                        <div class="hotel">
                                            <h5>MU De La Hotel</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, officiis ab
                                                minima aliquam at pariatur, animi, non in molestias a ut. Quidem incidunt
                                                necessitatibus</p>
                                            <br>
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut aspernatur
                                                veniam cupiditate fugiat ullam quae aperiam, nam laborum ipsam non. Corporis
                                                molestias ratione, dicta sed expedita cum porro maxime voluptates!</p>
                                        </div>
                                        <div class="akomodasi">
                                            <h5>Akomodasi</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quos dicta
                                                officiis provident exercitationem, minus modi odio inventore tenetur mollitia
                                                quia error molestiae? Ipsa amet laborum aut minus excepturi quos.</p>
                                        </div>
                                    </div>
                                    <div class="lokasi">
                                        <h5>Lokasi Strategis</h5>
                                        <ul class="kolom1 list-unstyled">
                                            <li>
                                                <i class="bi bi-bag-fill"></i>
                                                Pusat Pembelanjaan</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Gare du Nord</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Stadiun Louis-Philippe</li>
                                        </ul>
                                        <ul class="kolom2 list-unstyled">
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Pont d'Arcole</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Lavender MRT Statiun</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Marina Bay Sands Casino</li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="popup" id="popup-destination3">
                        <div class="overlay"></div>
                        <div class="content">
                            <div class="close-btn" onclick="togglePopup3()">&times;</div>
                            <div class="popup-destinasi">
                                <div class="destinasi-hotel">
                                    <div class="gambar">
                                        <img src="img/dubai,UAE.jpg">
                                    </div>
                                    <div class="penjelasan">
                                        <h2>Dubai, United Arab Emirates (UAE)</h2>
                                        <p>
                                            Dubai adalah kota yang terus berkembang dan selalu menghadirkan hal-hal baru.
                                            Kota ini menjadi tujuan wisata populer bagi wisatawan dari seluruh dunia yang
                                            ingin merasakan kemewahan, modernitas, dan budaya Arab yang unik. Dubai adalah
                                            kota yang penuh dengan kejutan dan keajaiban. Jika Anda ingin merasakan
                                            pengalaman yang tak terlupakan, pastikan untuk mengunjungi Dubai di lain waktu.
                                        </p>
                                    </div>
                                </div>
                                <div class="keuntungan">
                                    <div class="fasilitas">
                                        <h5>Fasilitas</h5>
                                        <ul class="list-unstyled">
                                            <li><img src="img/icon/air-conditioner.png" alt="ac">
                                                AC</li>
                                            <li><img src="img/icon/restaurant.png" alt="restoran">
                                                Restoran</li>
                                            <li><img src="img/icon/swimming-pool.png" alt="kolam_renang">
                                                Kolam Renang</li>
                                            <li><img src="img/icon/24-hours-support.png" alt="24Hours">
                                                Resepsionis 24 Jam</li>
                                            <li><img src="img/icon/parking-area.png" alt="Parkir">
                                                Parkir</li>
                                            <li><img src="img/icon/wifi.png" alt="Wifi">
                                                Wifi</li>
                                            <li><img src="img/icon/elevator.png" alt="LIft">
                                                Elevator</li>
                                        </ul>
                                    </div>
                                    <div class="tentang">
                                        <div class="hotel">
                                            <h5>MU De La Hotel</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, officiis ab
                                                minima aliquam at pariatur, animi, non in molestias a ut. Quidem incidunt
                                                necessitatibus</p>
                                            <br>
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut aspernatur
                                                veniam cupiditate fugiat ullam quae aperiam, nam laborum ipsam non. Corporis
                                                molestias ratione, dicta sed expedita cum porro maxime voluptates!</p>
                                        </div>
                                        <div class="akomodasi">
                                            <h5>Akomodasi</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quos dicta
                                                officiis provident exercitationem, minus modi odio inventore tenetur mollitia
                                                quia error molestiae? Ipsa amet laborum aut minus excepturi quos.</p>
                                        </div>
                                    </div>
                                    <div class="lokasi">
                                        <h5>Lokasi Strategis</h5>
                                        <ul class="kolom1 list-unstyled">
                                            <li>
                                                <i class="bi bi-bag-fill"></i>
                                                Pusat Pembelanjaan</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Gare du Nord</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Stadiun Louis-Philippe</li>
                                        </ul>
                                        <ul class="kolom2 list-unstyled">
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Pont d'Arcole</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Lavender MRT Statiun</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Marina Bay Sands Casino</li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="popup" id="popup-destination4">
                        <div class="overlay"></div>
                        <div class="content">
                            <div class="close-btn" onclick="togglePopup4()">&times;</div>
                            <div class="popup-destinasi">
                                <div class="destinasi-hotel">
                                    <div class="gambar">
                                        <img src="img/singapura.jpg" alt="">
                                    </div>
                                    <div class="penjelasan">
                                        <h2>Singapore</h2>
                                        <p>
                                            Singapura merupakan negara yang modern dan maju, dengan infrastruktur yang baik
                                            dan standar hidup yang tinggi. Singapura menjadi objek wisata yang menarik
                                            karena merupakan negara terbersih yang berada di Asia Tenggara.
                                        </p>
                                    </div>
                                </div>
                                <div class="keuntungan">
                                    <div class="fasilitas">
                                        <h5>Fasilitas</h5>
                                        <ul class="list-unstyled">
                                            <li><img src="img/icon/air-conditioner.png" alt="ac">
                                                AC</li>
                                            <li><img src="img/icon/restaurant.png" alt="restoran">
                                                Restoran</li>
                                            <li><img src="img/icon/swimming-pool.png" alt="kolam_renang">
                                                Kolam Renang</li>
                                            <li><img src="img/icon/24-hours-support.png" alt="24Hours">
                                                Resepsionis 24 Jam</li>
                                            <li><img src="img/icon/parking-area.png" alt="Parkir">
                                                Parkir</li>
                                            <li><img src="img/icon/wifi.png" alt="Wifi">
                                                Wifi</li>
                                            <li><img src="img/icon/elevator.png" alt="LIft">
                                                Elevator</li>
                                        </ul>
                                    </div>
                                    <div class="tentang">
                                        <div class="hotel">
                                            <h5>MU De La Hotel</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, officiis ab
                                                minima aliquam at pariatur, animi, non in molestias a ut. Quidem incidunt
                                                necessitatibus</p>
                                            <br>
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut aspernatur
                                                veniam cupiditate fugiat ullam quae aperiam, nam laborum ipsam non. Corporis
                                                molestias ratione, dicta sed expedita cum porro maxime voluptates!</p>
                                        </div>
                                        <div class="akomodasi">
                                            <h5>Akomodasi</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quos dicta
                                                officiis provident exercitationem, minus modi odio inventore tenetur mollitia
                                                quia error molestiae? Ipsa amet laborum aut minus excepturi quos.</p>
                                        </div>
                                    </div>
                                    <div class="lokasi">
                                        <h5>Lokasi Strategis</h5>
                                        <ul class="kolom1 list-unstyled">
                                            <li>
                                                <i class="bi bi-bag-fill"></i>
                                                Pusat Pembelanjaan</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Gare du Nord</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Stadiun Louis-Philippe</li>
                                        </ul>
                                        <ul class="kolom2 list-unstyled">
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Pont d'Arcole</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Lavender MRT Statiun</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Marina Bay Sands Casino</li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="popup" id="popup-destination5">
                        <div class="overlay"></div>
                        <div class="content">
                            <div class="close-btn" onclick="togglePopup5()">&times;</div>
                            <div class="popup-destinasi">
                                <div class="destinasi-hotel">
                                    <div class="gambar">
                                        <img src="img/tokyo,japan.jpg" alt="">
                                    </div>
                                    <div class="penjelasan">
                                        <h2>Tokyo, Japan</h2>
                                        <p>
                                            Tokyo adalah kota yang penuh dengan kontras, di mana modernitas dan tradisi
                                            berpadu dengan sempurna. Kota ini menjadi tujuan wisata populer bagi wisatawan
                                            dari seluruh dunia yang ingin merasakan budaya Jepang yang unik.
                                        </p>
                                    </div>
                                </div>
                                <div class="keuntungan">
                                    <div class="fasilitas">
                                        <h5>Fasilitas</h5>
                                        <ul class="list-unstyled">
                                            <li><img src="img/icon/air-conditioner.png" alt="ac">
                                                AC</li>
                                            <li><img src="img/icon/restaurant.png" alt="restoran">
                                                Restoran</li>
                                            <li><img src="img/icon/swimming-pool.png" alt="kolam_renang">
                                                Kolam Renang</li>
                                            <li><img src="img/icon/24-hours-support.png" alt="24Hours">
                                                Resepsionis 24 Jam</li>
                                            <li><img src="img/icon/parking-area.png" alt="Parkir">
                                                Parkir</li>
                                            <li><img src="img/icon/wifi.png" alt="Wifi">
                                                Wifi</li>
                                            <li><img src="img/icon/elevator.png" alt="LIft">
                                                Elevator</li>
                                        </ul>
                                    </div>
                                    <div class="tentang">
                                        <div class="hotel">
                                            <h5>MU De La Hotel</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, officiis ab
                                                minima aliquam at pariatur, animi, non in molestias a ut. Quidem incidunt
                                                necessitatibus</p>
                                            <br>
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut aspernatur
                                                veniam cupiditate fugiat ullam quae aperiam, nam laborum ipsam non. Corporis
                                                molestias ratione, dicta sed expedita cum porro maxime voluptates!</p>
                                        </div>
                                        <div class="akomodasi">
                                            <h5>Akomodasi</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quos dicta
                                                officiis provident exercitationem, minus modi odio inventore tenetur mollitia
                                                quia error molestiae? Ipsa amet laborum aut minus excepturi quos.</p>
                                        </div>
                                    </div>
                                    <div class="lokasi">
                                        <h5>Lokasi Strategis</h5>
                                        <ul class="kolom1 list-unstyled">
                                            <li>
                                                <i class="bi bi-bag-fill"></i>
                                                Pusat Pembelanjaan</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Gare du Nord</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Stadiun Louis-Philippe</li>
                                        </ul>
                                        <ul class="kolom2 list-unstyled">
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Pont d'Arcole</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Lavender MRT Statiun</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Marina Bay Sands Casino</li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="popup" id="popup-destination6">
                        <div class="overlay"></div>
                        <div class="content">
                            <div class="close-btn" onclick="togglePopup6()">&times;</div>
                            <div class="popup-destinasi">
                                <div class="destinasi-hotel">
                                    <div class="gambar">
                                        <img src="img/kuala lumpur.jpg" alt="">
                                    </div>
                                    <div class="penjelasan">
                                        <h2>Kuala Lumpur, Malaysia</h2>
                                        <p>
                                            Kuala Lumpur adalah kota yang dinamis dan modern, dengan gedung pencakar langit
                                            yang menjulang tinggi, namun juga tetap mempertahankan budaya tradisionalnya.
                                        </p>
                                    </div>
                                </div>
                                <div class="keuntungan">
                                    <div class="fasilitas">
                                        <h5>Fasilitas</h5>
                                        <ul class="list-unstyled">
                                            <li><img src="img/icon/air-conditioner.png" alt="ac">
                                                AC</li>
                                            <li><img src="img/icon/restaurant.png" alt="restoran">
                                                Restoran</li>
                                            <li><img src="img/icon/swimming-pool.png" alt="kolam_renang">
                                                Kolam Renang</li>
                                            <li><img src="img/icon/24-hours-support.png" alt="24Hours">
                                                Resepsionis 24 Jam</li>
                                            <li><img src="img/icon/parking-area.png" alt="Parkir">
                                                Parkir</li>
                                            <li><img src="img/icon/wifi.png" alt="Wifi">
                                                Wifi</li>
                                            <li><img src="img/icon/elevator.png" alt="LIft">
                                                Elevator</li>
                                        </ul>
                                    </div>
                                    <div class="tentang">
                                        <div class="hotel">
                                            <h5>MU De La Hotel</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, officiis ab
                                                minima aliquam at pariatur, animi, non in molestias a ut. Quidem incidunt
                                                necessitatibus</p>
                                            <br>
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut aspernatur
                                                veniam cupiditate fugiat ullam quae aperiam, nam laborum ipsam non. Corporis
                                                molestias ratione, dicta sed expedita cum porro maxime voluptates!</p>
                                        </div>
                                        <div class="akomodasi">
                                            <h5>Akomodasi</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quos dicta
                                                officiis provident exercitationem, minus modi odio inventore tenetur mollitia
                                                quia error molestiae? Ipsa amet laborum aut minus excepturi quos.</p>
                                        </div>
                                    </div>
                                    <div class="lokasi">
                                        <h5>Lokasi Strategis</h5>
                                        <ul class="kolom1 list-unstyled">
                                            <li>
                                                <i class="bi bi-bag-fill"></i>
                                                Pusat Pembelanjaan</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Gare du Nord</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Stadiun Louis-Philippe</li>
                                        </ul>
                                        <ul class="kolom2 list-unstyled">
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Pont d'Arcole</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Lavender MRT Statiun</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Marina Bay Sands Casino</li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="popup" id="popup-destination7">
                        <div class="overlay"></div>
                        <div class="content">
                            <div class="close-btn" onclick="togglePopup7()">&times;</div>
                            <div class="popup-destinasi">
                                <div class="destinasi-hotel">
                                    <div class="gambar">
                                        <img src="img/newyorkgelap.jpg" alt="">
                                    </div>
                                    <div class="penjelasan">
                                        <h2>New York, United States</h2>
                                        <p>
                                            New York adalah kota yang dijuluki "The City That Never Sleeps". Diamna setiap
                                            kota di huni dengan gedung-gedung yang menjulang tinggi. New York juga memiliki
                                            landmark yang sangat terkenal yaitu Patung Liberty.
                                        </p>
                                    </div>
                                </div>
                                <div class="keuntungan">
                                    <div class="fasilitas">
                                        <h5>Fasilitas</h5>
                                        <ul class="list-unstyled">
                                            <li><img src="img/icon/air-conditioner.png" alt="ac">
                                                AC</li>
                                            <li><img src="img/icon/restaurant.png" alt="restoran">
                                                Restoran</li>
                                            <li><img src="img/icon/swimming-pool.png" alt="kolam_renang">
                                                Kolam Renang</li>
                                            <li><img src="img/icon/24-hours-support.png" alt="24Hours">
                                                Resepsionis 24 Jam</li>
                                            <li><img src="img/icon/parking-area.png" alt="Parkir">
                                                Parkir</li>
                                            <li><img src="img/icon/wifi.png" alt="Wifi">
                                                Wifi</li>
                                            <li><img src="img/icon/elevator.png" alt="LIft">
                                                Elevator</li>
                                        </ul>
                                    </div>
                                    <div class="tentang">
                                        <div class="hotel">
                                            <h5>MU De La Hotel</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, officiis ab
                                                minima aliquam at pariatur, animi, non in molestias a ut. Quidem incidunt
                                                necessitatibus</p>
                                            <br>
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut aspernatur
                                                veniam cupiditate fugiat ullam quae aperiam, nam laborum ipsam non. Corporis
                                                molestias ratione, dicta sed expedita cum porro maxime voluptates!</p>
                                        </div>
                                        <div class="akomodasi">
                                            <h5>Akomodasi</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quos dicta
                                                officiis provident exercitationem, minus modi odio inventore tenetur mollitia
                                                quia error molestiae? Ipsa amet laborum aut minus excepturi quos.</p>
                                        </div>
                                    </div>
                                    <div class="lokasi">
                                        <h5>Lokasi Strategis</h5>
                                        <ul class="kolom1 list-unstyled">
                                            <li>
                                                <i class="bi bi-bag-fill"></i>
                                                Pusat Pembelanjaan</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Gare du Nord</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Stadiun Louis-Philippe</li>
                                        </ul>
                                        <ul class="kolom2 list-unstyled">
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Pont d'Arcole</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Lavender MRT Statiun</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Marina Bay Sands Casino</li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="popup" id="popup-destination8">
                        <div class="overlay"></div>
                        <div class="content">
                            <div class="close-btn" onclick="togglePopup8()">&times;</div>
                            <div class="popup-destinasi">
                                <div class="destinasi-hotel">
                                    <div class="gambar">
                                        <img src="img/madrid.jpg" alt="">
                                    </div>
                                    <div class="penjelasan">
                                        <h2>Madrid, Spanyol</h2>
                                        <p>
                                            Madrid adalah ibu kota Spanyol, terletak di bagian tengah negara itu. Kota ini
                                            merupakan pusat politik, budaya, dan ekonomi yang penting. Madrid memiliki
                                            banyak landmark terkenal, termasuk Palacio Real (Istana Kerajaan), Plaza Mayor
                                            (Lapangan Utama), dan Museo del Prado (Museum Prado).
                                        </p>
                                    </div>
                                </div>
                                <div class="keuntungan">
                                    <div class="fasilitas">
                                        <h5>Fasilitas</h5>
                                        <ul class="list-unstyled">
                                            <li><img src="img/icon/air-conditioner.png" alt="ac">
                                                AC</li>
                                            <li><img src="img/icon/restaurant.png" alt="restoran">
                                                Restoran</li>
                                            <li><img src="img/icon/swimming-pool.png" alt="kolam_renang">
                                                Kolam Renang</li>
                                            <li><img src="img/icon/24-hours-support.png" alt="24Hours">
                                                Resepsionis 24 Jam</li>
                                            <li><img src="img/icon/parking-area.png" alt="Parkir">
                                                Parkir</li>
                                            <li><img src="img/icon/wifi.png" alt="Wifi">
                                                Wifi</li>
                                            <li><img src="img/icon/elevator.png" alt="LIft">
                                                Elevator</li>
                                        </ul>
                                    </div>
                                    <div class="tentang">
                                        <div class="hotel">
                                            <h5>MU De La Hotel</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, officiis ab
                                                minima aliquam at pariatur, animi, non in molestias a ut. Quidem incidunt
                                                necessitatibus</p>
                                            <br>
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut aspernatur
                                                veniam cupiditate fugiat ullam quae aperiam, nam laborum ipsam non. Corporis
                                                molestias ratione, dicta sed expedita cum porro maxime voluptates!</p>
                                        </div>
                                        <div class="akomodasi">
                                            <h5>Akomodasi</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quos dicta
                                                officiis provident exercitationem, minus modi odio inventore tenetur mollitia
                                                quia error molestiae? Ipsa amet laborum aut minus excepturi quos.</p>
                                        </div>
                                    </div>
                                    <div class="lokasi">
                                        <h5>Lokasi Strategis</h5>
                                        <ul class="kolom1 list-unstyled">
                                            <li>
                                                <i class="bi bi-bag-fill"></i>
                                                Pusat Pembelanjaan</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Gare du Nord</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Stadiun Louis-Philippe</li>
                                        </ul>
                                        <ul class="kolom2 list-unstyled">
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Pont d'Arcole</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Lavender MRT Statiun</li>
                                            <li>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Marina Bay Sands Casino</li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="gallery"></div>
                    <div class="gallery" data-aos="fade" data-aos-duration="2500">
                        <div class="gallery-judul">
                            Transportation
                        </div>
                        <div class="content">
                            <div class="gambar-gallery satu">
                                <div class="title-box">
                                    <div class="title">Cruise ship</div>
                                </div>
                            </div>
                            <div class="gambar-gallery dua">
                                <div class="title-box">
                                    <div class="title">Train</div>
                                </div>
                            </div>
                            <div class="gambar-gallery tiga">
                                <div class="title-box">
                                    <div class="title">Plane</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="faq">
                    <div class="faq-penjelasan">
                        <h1>FAQ</h1>
                        <p>Fitur FAQ kami memungkinkan Anda untuk dengan mudah menemukan jawaban atas
                            pertanyaan-pertanyaan umum tentang berbagai topik terkait perjalanan. Anda hanya
                            perlu memasukkan kata kunci seperti destinasi, cuaca, festival, dan lainnya
                            untuk menemukan informasi yang Anda butuhkan dengan cepat. Dengan fitur ini,
                            Anda dapat menghemat waktu dan mendapatkan jawaban yang relevan dengan mudah.</p>
                    </div>

                    <div class="input">
                        <div ng-app="pertanyaan" ng-controller="controller" class="input2">

                            <div class="search-box">
                                <input type="text" ng-model="searchName" placeholder="Masukan Pertanyaan">
                                <button ng-click="search()">
                                    <i class='bx bxs-send'></i>
                                </button>
                            </div>

                            <ul>
                                <li ng-repeat="pertanyaan in hasil">
                                    <p>
                                        <span class="warna">Question :
                                        </span>
                                        {{ pertanyaan.question}}
                                    </p>
                                    <p>
                                        <span class="warna">Answer :</span>
                                        <br>
                                        {{ pertanyaan.answer }}</p>
                                    <br>
                                </li>
                                <li ng-if="showNoResultsMessage" style="color: red;">Tidak ada hasil pencarian</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- footer -->
                <%- include('layouts/footer.ejs') %>

                </div>
                <script>
                    var app = angular.module('pertanyaan', []);
                    app.controller('controller', function ($scope) {
                        $scope.trains = [
                            {
                                question: 'Apa saja destinasi yang disediakan?',
                                answer: 'Untuk destinasi yang disediakan dapat dilihat di bagian destination di homepag' +
                                        'e'
                            }, {
                                question: 'Apakah ada restoran atau makanan khas yang harus saya coba di Tokyo?',
                                answer: 'Salah satu restoran yang wajib di coba di Tokyo adalah Narisawa, sebuah restor' +
                                        'an populer milik koki terkenal Yoshihiro Narisawa. Menu disajikan dengan gaya ' +
                                        'omakase (yang berarti sesuka hati Anda) sehingga membuat anda mendapatakn pe' +
                                        'ngalaman khas Jepang.'
                            }, {
                                question: 'Bagaimana kondisi cuaca di destinasi London saat ini atau dalam beberapa hari ' +
                                        'ke depan?',
                                answer: 'Menurut update cuaca di Website google weather untuk Kondisi cuaca saat ini da' +
                                        'n prakiraan untuk beberapa hari mendatang di London adalah cerah.'
                            }, {
                                question: 'Bagaimana dengan keamanan dan keselamatan di destinasi ini, apakah ada hal-hal' +
                                        ' yang perlu diperhatikan?',
                                answer: 'Beberapa hal penting yang harus diperhatikan pada saat treveling diantaranya y' +
                                        'aitu pahami peraturan dan budaya lokal disana, selalu awasi barang-barang Anda' +
                                        ', terutama di tempat-tempat ramai, simpan barang berharga seperti paspor, uang' +
                                        ', dan kartu kredit di tempat yang aman dan lain sebagainya.'
                            }, {
                                question: 'Apakah ada saran transportasi lokal yang efisien untuk menjelajahi destinasi i' +
                                        'ni?',
                                answer: 'Prancis'
                            }, {
                                question: 'Bagaimana dengan kebijakan pembatalan atau pengembalian uang untuk reservasi a' +
                                        'komodasi atau tur?',
                                answer: 'Pada saat ini, kami tidak menyediakan layanan pembatalan atau pengembalian uan' +
                                        'g untuk reservasi akomodasi atau tur.  Kami mohon maaf atas ketidaknyamanannya' +
                                        ' dan kami senantiasa berusaha memberikan pengalaman yang memuaskan kepada pela' +
                                        'nggan kami.'
                            }, {
                                question: 'Apakah bulan ini ada festival atau acara khusus yang akan berlangsung di Madri' +
                                        'd, Spanyol',
                                answer: 'Di bulan ini, Madrid memiliki beberapa festival dan acara yang menarik. Salah ' +
                                        'satunya adalah Madrid Carnival biasanya diadakan pada akhir Februari atau awal' +
                                        ' Maret. Untuk informasi lebih lanjut tentang acara-acara yang berlangsung sela' +
                                        'ma bulan ini, disarankan untuk memeriksa situs web resmi pariwisata Madrid ata' +
                                        'u kalender acara lokal.'
                            }
                        ];

                        $scope.search = function () {
                            var searchTerms = $scope
                                .searchName
                                .toLowerCase()
                                .split(' ');

                            var isWhitespaceSearch = searchTerms.every(function (term) {
                                return term.trim() === '';
                            });

                            if (isWhitespaceSearch) {
                                $scope.hasil = [];
                            } else {
                                $scope.hasil = $scope
                                    .trains
                                    .filter(function (pertanyaan) {
                                        var namaLowerCase = pertanyaan
                                            .question
                                            .toLowerCase();
                                        return searchTerms.some(function (term) {
                                            return namaLowerCase.includes(term);
                                        });
                                    });
                            }

                            $scope.showNoResultsMessage = $scope.hasil.length === 0 && !isWhitespaceSearch;
                        };
                    });
                </script>
                <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
                <script>
                    AOS.init();
                </script>
                <script src="index.js"></script>
            </body>
        </html>