a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: fit-content;
}

.container {
    position: relative;
    width: 100%;
    margin: auto;
    /* max-width: 90vw; */
    text-align: center;
    /* padding-top: 10px; */
    transition: transform 0.5s;
}

.header {
    /* position: absolute; */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    margin-top: -1.5%;
    /* padding: 15px 0 15px 15px; */
    font-family: "Raleway", sans-serif;
}

header ul {
    list-style: none;
    margin-left: -3;
    float: right;
    padding: 0;
    line-height: 1.5;
}

a {
    text-decoration: none;
}
.back {
    margin: 0;
    padding-right: 0;

}
.logo {
    display: flex;
    align-items: center;
    margin-left: 0;
    width: 60%;
    padding: 15px 25px 0;
}

.logo-destinasi img {
    width: 100px;
    /* padding-right: 50px; */
}

.header .nav-menu {
    padding: 0 25px;
}

.header-main {
    background-color: #a01626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
    padding: 0;
    /* border-radius: 50px; */
}

.header .menu > .menu-item {
    display: inline-block;
    margin-left: 15px;
    position: relative;
}

.header .menu > .menu-item > a {
    display: inline-block;
    padding: 15px 0;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    transition: all 0.3s ease;
}

.header .open-nav-menu {
    height: 34px;
    width: 40px;
    margin-right: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.header .open-nav-menu span {
    position: relative;
    display: block;
    height: 3px;
    width: 24px;
    background-color: #fff;
}

.header .open-nav-menu span:after,
.header .open-nav-menu span:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;
}

.header .open-nav-menu span:before {
    top: -7px;
}

.header .open-nav-menu span:after {
    top: 7px;
}

.header .close-nav-menu {
    height: 40px;
    width: 40px;
    background-color: #fff;
    margin: 0 0 15px 15px;
    color: #000;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
}

.header .close-nav-menu i {
    font-size: 30px;
    color: #000;
    /* width: 16px; */
}
/* svg {
    width: 30px;
} */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: transform 0.5s ease;
}
header .icon-cart {
    position: relative;
    width: 25px;
    color: #fff;
    height: 25px;
    /* font-size: 20px; */
    padding-right: 10px;
}
header .icon-cart img {
    width: 30px;
}
header .icon-cart span {
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -15px;
    margin-right: 10px;
}
.title {
    font-size: xx-large;
}
.listProduct .item img {
    width: 90%;
    height: 50%;
    filter: drop-shadow(0 50px 20px rgba(48, 41, 41, 0.6));
}
.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    transition: transform 0.5s ease-in;
}
.listProduct .item {
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2 {
    font-weight: 500;
    font-size: 20px;
    color: #ff001e;
    padding-top: 25px;
}
.listProduct .item .price {
    padding-top: 10px;
    letter-spacing: 3px;
    font-size: small;
    color: #ff001e;
    font-size: 15px;
}
.listProduct .item button {
    background-color: #a01626;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

/* cart */
.cartTab {
    width: 400px;
    background-color: white;
    /* color: #eee; */
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 0.5s;
    z-index: 999;
    color: #a01626;
}
body.showCart .cartTab {
    right: 0;
}
body.showCart .container {
    transform: translateX(-200px);
}
body.showCart .listProduct {
    transform: translateX(200px);
    width: 80%;
}
.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
    font-size: 30px;
}
.cartTab .btn {
    height: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button {
    background-color: #a01626;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
    color: white;
    font-size: 20px;
}
.cartTab .close {
    background-color: #eee;
    color: #a01626;
}

.listCart .item img {
    width: 85px;
    height: 50px;
}
.listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #a01626;
    cursor: auto;
}
.listCart .item:nth-child(even) {
    background-color: #eee1;
}
.listCart {
    overflow: auto;
}
.listCart::-webkit-scrollbar {
    width: 0;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #a01626;
    color: white;
    justify-items: center;
    align-items: center;
    transition: transform 0.5s;
    margin-top: 10px;
    
}

footer .one,
footer .three,
footer .two {
    padding: 20px;
}

footer .one img {
    width: 250px;
    padding-top: 10px;
}

footer ul li {
    font-weight: 300;
}

footer p {
    line-height: 25px;
    font-weight: 300;
}

footer h1 {
    font-size: large;
    padding-bottom: 7px;
    font-weight: bolder;
    /* font-weight: bolder; */
}

footer .two {
    text-align: center;
}

footer .two .developer ul li {
    margin-bottom: 7px;
}

footer .two .social-media ul li {
    display: inline;
    /* padding-right: 10px; */
}

footer .two .social-media ul li a {
    display: inline;
    color: white;
    padding-right: 10px;
}

footer .two .developer {
    margin-bottom: 20px;
}

footer .three {
    text-align: end;
}

body.showCart footer {
    transform: translateX(-400px);
}

@media only screen and (max-width: 992px) {
    .listProduct {
        grid-template-columns: repeat(3, 1fr);
    }
    .header {
        margin-top: -2.5%;
    }
}

/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }
    .header {
        margin-top: -4.5%;
    }

    footer {
        grid-template-columns: 1fr;
        font-size: 14px;
    }

    footer .one img {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    footer .three {
        text-align: center;
    }

}
